#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#761727",
    floating_border_color: "#9F9CE6",
    focused_border_color: "#dcc5c9",
    background_color: "#761727",
)