/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #12111b !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c3c6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c3c6; background-color: rgba(217,156,155,0.4)}
.cm-s-nqqwal { background-color: #12111b; color: #c3c3c6; }
.cm-s-nqqwal span.cm-builtin { color: #586C87; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5c5c71; }
.cm-s-nqqwal span.cm-keyword { color: #6B6A84; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #BC7592; }
.cm-s-nqqwal span.cm-def { color: #7D84A0; }
.cm-s-nqqwal span.cm-variable { color: #D99C9B; }
.cm-s-nqqwal span.cm-variable-2 { color: #7D84A0; }
.cm-s-nqqwal span.cm-string { color: #586C87; }
.cm-s-nqqwal span.cm-string-2 { color: #586C87; }
.cm-s-nqqwal span.cm-number { color: #7D84A0; }
.cm-s-nqqwal span.cm-tag { color: #6B6A84; }
.cm-s-nqqwal span.cm-property { color: #D99C9B; }
.cm-s-nqqwal span.cm-attribute { color: #D99C9B; }
.cm-s-nqqwal span.cm-qualifier { color: #BC7592; }
.cm-s-nqqwal span.cm-meta { color: #7D84A0; }
.cm-s-nqqwal span.cm-header { color: #6B6A84; }
.cm-s-nqqwal span.cm-operator { color: #6B6A84; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(125,132,160,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #6B6A84; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #12111b); }
